@import '../../themes/variable';
@import '../../base/base.scss';


.Relate-Product {
    .container {
        .title-relate-product {
            text-align: center;
            font-size: 40px;
            font-weight: 400;
        }

        .row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;

            .col {
                .card {
                    background-color: #f8f8f8;

                    a {
                        font-size: 24px;
                        font-weight: 300;
                        color: #000;
                        line-height: 64px;
                        text-decoration: none;
                        display: inline-block;
                        width: 175px;
                        height: 64px;
                        background-color: #e1b067;
                        text-align: center;
                    }

                    span {
                        position: absolute;
                        width: 175px;
                        height: 64px;
                        top: auto;
                        right: auto;
                        bottom: 0;
                        left: 174px;
                        font-size: 24px;
                        font-weight: 600;
                        color: #000;
                        background-color: #dedddc;
                        text-align: center;
                        padding: 20px 50px;
                    }

                    img {
                        width: 100%;
                    }
                }

            }
        }
    }
}

.footer {
    .container {
        .footer-img {
            img {
                width: 100%;
            }
        }
    }
}